{% block _shopping_list_line_items_list_quantity_form_widget %}
{% if lineItem.product.minimumQuantityToOrder.scalarValue is defined %} 
      {% set minimumQuantityToOrder = lineItem.product.minimumQuantityToOrder.scalarValue %}
{% endif %}
{% if lineItem.product.maximumQuantityToOrder.scalarValue is defined %} 
      {% set maximumQuantityToOrder = lineItem.product.maximumQuantityToOrder.scalarValue %}
{% endif %}
{% if minimumQuantityToOrder is null or  maximumQuantityToOrder is null%} 
    {% set minimumQuantityToOrder = minimumQuantityToOrderConfig %}
    {% set maximumQuantityToOrder = maximumQuantityToOrderConfig %}
{% endif %}  
{% if lineItem.product.quantityImproverIncrement is defined %} 
{% set allwedQuantity = get_allowed_quantity(minimumQuantityToOrder , maximumQuantityToOrder , lineItem.product.quantityImproverIncrement ) %} 
{% else %} 
{% set allwedQuantity = get_allowed_quantity(minimumQuantityToOrder , maximumQuantityToOrder  ) %} 
{% endif %} 

    {% set isProductUnitSelectionVisible = parent.productsUnitSelectionVisibilities[lineItem.product.id]|default({}) is not empty ? parent.productsUnitSelectionVisibilities[lineItem.product.id] : null %}
    {% set isLineItemUnitVisible = parent.lineItemsUnitVisibilities[lineItem.id]|default({}) is not empty ? parent.lineItemsUnitVisibilities[lineItem.id] : null %}
    {% set hasProductUnits = parent.productsUnits[lineItem.product.id] is defined %}
    <form action="#" class="product__qty-container cart-table__form">
        <div class="product__qty-input product__qty-input_inline product__qty-input_more-info">
            <div class="product__qty-input__count-option">
                <select value="{{ lineItem.quantity }}" name="product_qty" data-name="field__quantity"
                       placeholder="{{ 'oro.frontend.shoppinglist.view.qty.label'|trans }}"
                       class="input  input--full text-center" disabled="disabled" required
                       aria-label="{{ 'oro.product.quantity.aria_label'|trans }}"
                       type="number"
                >
                    {% for key,value in allwedQuantity %}
                        {% if value == lineItem.quantity %}
                        <option selected="selected" value="{{ key }}"> {{ format_qty_gamma(value) }}</option>
                        {% else %}
                        <option value="{{ key }}"> {{ format_qty_gamma(value) }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="product__select">
            {% if isProductUnitSelectionVisible and hasProductUnits and parent.productsUnits[lineItem.product.id]|length > 1 %}
                <select class="select select--full" name="product_unit" data-name="field__unit" required>
                    {% for unit in parent.productsUnits[lineItem.product.id]|keys %}
                        <option value="{{ unit }}" {% if unit == lineItem.unit.code %}selected="selected"{% endif %}>{{ unit|oro_format_product_unit_label}}</option>
                    {% endfor %}
                    {% if lineItem.unit.code not in parent.productsUnits[lineItem.product.id]|keys %}
                        <option value="{{ lineItem.unit.code }}" selected="selected" disabled="disabled">{{ lineItem.unit.code|oro_format_product_unit_label}}</option>
                    {% endif %}
                </select>
            {% else %}
                <input type="hidden" name="product_unit" value="{{ lineItem.unit.code }}" data-name="field__unit" />
                {% if isLineItemUnitVisible %}
                    <div class="product__static-unit">{{ lineItem.unit.code|oro_format_product_unit_label}}</div>
                {% endif %}
            {% endif %}
        </div>
    </form>
{% endblock %}